
nav{
    height:70px;
}
.navbar{
    background-color: #CBCBCB;
	position: fixed;
    top: 0;
    width: 100%;
	transition: top 0.3s;
}

.navbar.hidden {
      top: -80px; /* 隐藏导航栏的高度 */
    }

li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-family: "Noto Sans TC";
    font-weight: 600;
    text-decoration: none;
   
}
li a:hover{
    color:#FF7C93 !important;
    background-color: #5C5C5C;
    
}
.navbar-toggler{
    background-color: lightgray;
}

.nav-link {
    padding:20px;
}

@media (max-width:500px){
    nav{
        height:auto;
    }
    .nav-link {
        padding:10px;
		
    }
	.logo{
		height:50px;
		margin-top:3px;
	}
}